{{ define "home" }}
<h1 class="title">欢迎来到用户管理页面</h1>
<div class="container">
    <table>
        <thead>
            <tr>
                <th class="data">uid</th>
                <th class="data">用户名</th>
                <th class="data">用户性别</th>
                <th class="data">用户简介</th>
                <th class="data">用户密码</th>
                <th class="data">操作</th>
            </tr>
        </thead>
        <tbody>
            {{ range $i, $u := .}}
            <tr>
                <td class="data">{{$u.Uid}}</td>
                <td class="data editable">{{$u.Name}}</td>
                <td class="data editable">{{$u.Gender}}</td>
                <td class="data editable">{{$u.Introduction}}</td>
                <td class="data editable">{{$u.Password}}</td>
                <td class="data">
                    <button class="btn" onclick="modifyRow(this)">修改</button>
                    <button class="btn" onclick="removeRow(this)">删除</button>
                </td>
            </tr>
            {{ else }}
            <tr><td colspan="6">null</td></tr>
            {{ end }}
        </tbody>
    </table>
</div>
<div class="form_container">
    <form class="add_form">
        <button class="btn" formmethod="get" formaction="/add_operator_page">添加</button>
        <!-- <button class="add_btn" onclick="addRow()">添加</button> -->
    </form>
    <form class="find_form">
        <button class="btn" formmethod="get" formaction="/find_page">查找</button>
    </form>
</div>
<script src="/js/home.js"></script>
{{ end }}
