{{ define "home" }}
    <h1 class="title">欢迎来到用户管理页面</h1>
    <div class="container">
    <table>
        <thead>
            <tr>
                <th class="data">uid</th>
                <th class="data">用户名</th>
                <th class="data">用户性别</th>
                <th class="data">用户简介</th>
                <th class="data">用户密码</th>
                <th class="data">操作</th>
            </tr>
        </thead>
        <tbody>
            {{ range $i, $u := .}}
            <tr>
                <td class="data">{{$u.Uid}}</td>
                <td class="data">{{$u.Name}}</td>
                <td class="data">{{$u.Gender}}</td>
                <td class="data">{{$u.Introduction}}</td>
                <td class="data">{{$u.Password}}</td>
                <td class="data">
                    <button class="mod_btn" onclick="modifyRow(this)">修改</button>
                    <button class="del_btn" onclick="removeRow(this)">删除</button>
                </td>
            </tr>
            {{ else }}
            <tr><td colspan="6">null</td></tr>
            {{ end }}
        </tbody>
    </table>
    </div>
    <form class="container">
        <button class="add_btn" formmethod="get" formaction="/add_operator_page">添加</button>
        <!-- <button class="add_btn" onclick="addRow()">添加</button> -->
    </form>
    <div class="container">
        <button class="find_btn" formmethod="get" formaction="/find">查找</button>
    </div>
    <script src="/js/home.js"></script>
{{ end }}
