<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>User Manager</title>
</head>
<body>
    <h1 class="title">欢迎来到用户管理页面</h1>
    <div class="container">
    <table>
        <thead>
            <tr>
                <th class="data">uid</th>
                <th class="data">用户名</th>
                <th class="data">用户性别</th>
                <th class="data">用户简介</th>
                <th class="data">用户密码</th>
                <th class="data">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="data">0000</td>
                <td class="data">ty</td>
                <td class="data">man</td>
                <td class="data">null</td>
                <td class="data">245869</td>
                <td class="data">
                    <button class="mod_btn" onclick="modifyRow(this)">修改</button>
                    <button class="del_btn" onclick="removeRow(this)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="container">
        <!-- <button class="add_btn" formmethod="post" formaction="/add">添加</button> -->
        <button class="add_btn" onclick="addRow()">添加</button>
    </div>
    <div class="container">
        <button class="find_btn" formmethod="get" formaction="/find">查找</button>
    </div>
    <script src="home.js"></script>
</body>
</html>